input[type=file] {
    opacity: 0;
    width: 280px;
    height: 100px;
}

#drop-area {
    border: 2px dotted #e5e7eb;
    border-radius: 15px;
    width: 280px;
    height: 100px;
    position: absolute;
    background-color: #ffffff;
}